<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Blend.Interctivity.WPF.v4.0" version="1.0.3" targetFramework="net48" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net48" />
  <package id="Expression.Blend.Sdk" version="1.0.2" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.11.18" targetFramework="net48" />
  <package id="LambdaConverters" version="4.0.0" targetFramework="net48" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="Nito.Disposables" version="2.0.1" targetFramework="net48" />
  <package id="Nito.Mvvm.Core" version="1.2.2" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net48" />
  <package id="Unofficial.Blend.Interactivity" version="1.0.0" targetFramework="net48" />
</packages>